<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<title>深海科考数据管理平台</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/iconfont.css}">
<link rel="stylesheet" th:href="@{/css/project.css}">
</head>

<body>
	<!-- 头部 -->
	<!-- <div th:replace="header"></div> -->
	<div class="home_header">
        <div class="text_box">
        	<a class="headline fl" href="/index">
            <p>深海科考数据管理平台</p>
            <p>Deep-sea Data System</p>
        	</a>
        	<div class="logo fl">
            <a class="logo_href" href="/index"><img alt="" th:src="@{/images/sy-logo.png}"></a>	
        	</div>
        </div>
        <ul sec:authorize="isAuthenticated()" class="userLogon">
        	<li class="infoLi">
        		<a href="javascript:;">
        			<i class="iconfont icon-yonghu" style="color: #1890ff"></i>
        			<p class="infoTxt" sec:authentication="name"></p>
        		</a>
        	</li>
        	<!-- <li class="infoLi">
        		<a href="javascript:;">
        			<i class="iconfont icon-xiaoxi" style="color: #FF5722"></i>
        			<p class="infoTxt">
        				<span>消息</span>
        				<span class="comNum infoNum" style="background:#FF5722">2</span>
        			</p>
        		</a>
        	</li>
        	<li class="infoLi">
        		<a href="javascript:;">
        			<i class="iconfont icon-renwu" style="color: #009688"></i>
        			<p class="infoTxt">
	        			<span>任务</span>
	        			<span class="comNum taskNum" style="background:#009688">3</span>
        			</p>
        		</a>
        	</li> -->
        	<li class="infoLi" style="width: 60px;">
        		<a href="javascript:;">
        			<form th:action="@{/logout}" method="post">
        				<i class="iconfont icon-zhuxiao" style="color: #FF0303"></i>
								<input class="infoTxt logout" type="submit" value="注销" />
							</form>
        		</a>
        	</li>
        </ul>
    </div>

    <!-- 导航栏 -->
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item layui-this"><a th:href="@{/index}">首页</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">数据上传</a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a th:href="@{/templateParse}">模板解析</a></dd>
            <dd><a th:href="@{/dataUpload}">上传数据(批量)</a></dd>
            <dd><a th:href="@{/dataUploadList}">上传数据(表单)</a></dd>
            <!-- <dd><a th:href="@{/query/queryMainTableData?id=24&dataType=FluidFlow}">查看主表数据</a></dd> -->
          </dl>
        </li>
        <!-- <li class="layui-nav-item"><a href="search">数据检索</a></li> -->
        <li class="layui-nav-item"><a th:href="@{/replaceSearch}">数据检索</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">统计分析</a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a th:href="@{/shipStatistic}">科考航次</a></dd>
            <dd><a th:href="@{/platStatistic}">科考船舶</a></dd>
            <dd><a th:href="@{/submersibleStatistic}">潜器平台</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">科考作业</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a  th:href="@{/job/shipList}">航次管理</a></dd>
                <dd><a th:href="@{/job/messageList}">消息管理</a></dd>
                <dd><a th:href="@{/job/postList}">岗位管理</a></dd>
                <dd class="jobMenu">
                	<a href="#" class="job">站位作业<i class="iconfont icon-right"></i></a>
                	<dl class="layui-nav-child jobList-child">
                		<dd class="menuTree">
                			<a th:href="@{/job/ctdList}">取水</a>
                			<!-- <dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">CTD</a></dd>
		                		<dd><a href="javascript:;">泵</a></dd>
		                	</dl> -->
                		</dd>
                		<dd class="menuTree">
                			<a th:href="@{/job/precipitateList}">取沉积物</a>
                			<!-- <dl class="layui-nav-child listTree">
		                		<dd><a th:href="@{/job/precipitateList?type=columnar}">柱状</a></dd>
		                		<dd><a th:href="@{/job/precipitateList?type=trunk}">箱式</a></dd>
		                		<dd><a th:href="@{/job/precipitateList?type=multitube}">多管</a></dd>
		                	</dl> -->
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">取岩石<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">钻机</a></dd>
		                	</dl>
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">精细取样<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">KOV</a></dd>
		                		<dd><a href="javascript:;">USBL/SBL/LBL</a></dd>
		                	</dl>
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">探测类<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">热流</a></dd>
		                	</dl>
                		</dd>
                	</dl>
                </dd>
                <dd class="jobMenu">
                	<a href="#" class="job">走航作业<i class="iconfont icon-right"></i></a>
                	<dl class="layui-nav-child jobList-child">
                		<dd class="menuTree">
                			<a href="javascript:;">地球物理<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">MB</a></dd>
		                		<dd><a th:href="@{/job/subbottomList}">SB</a></dd>
		                		<dd><a href="javascript:;">GR</a></dd>
		                		<dd><a href="javascript:;">MAG</a></dd>
		                		<dd><a href="javascript:;">SS</a></dd>
		                		<dd><a th:href="@{/job/seismicList}">SEIS</a></dd>
		                	</dl>
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">物理海洋<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">SBE21</a></dd>
		                		<dd><a href="javascript:;">ADCP</a></dd>
		                		<dd><a href="javascript:;">海气通量</a></dd>
		                		<dd><a href="javascript:;">气象站</a></dd>
		                	</dl>
                		</dd>
                	</dl>
                </dd>
                <dd><a th:href="@{/job/myTaskList}">我的任务</a></dd>
                <dd><a th:href="@{/job/deviceList}">设备管理</a></dd>
                <dd><a th:href="@{/job/meetingList}">会议管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">字典管理</a>
            <dl class="layui-nav-child">
               <!-- 二级菜单 -->
               <dd><a th:href="@{/dataTypeList}">数据类型</a></dd>
               <dd><a th:href="@{/deviceTypeList}">设备类型</a></dd>
               <dd><a th:href="@{/platTypeList}">平台类型</a></dd>
               <dd><a th:href="@{/shipPlatList}">科考船舶</a></dd>
               <dd><a th:href="@{/submersiblePlatList}">潜器平台</a></dd>
               <dd><a th:href="@{/suberMessageList}">潜器潜次</a></dd>
            </dl>
        </li>
    </ul>
	
	<!-- 主题部分 -->
	<div class="home_main">
		<!-- 内容展示 -->
		<div class="home_content">
			<div class="home_detail">
				<a class="skip" href="replaceSearch">
					<img alt="" th:src="@{/images/search-icon.png}">
					<p class="text">数据检索</p>
				</a>
			</div>
			<div class="home_detail">
				<a class="skip" href="javascript:;">
					<img alt="" th:src="@{/images/upload-icon.png}">
					<p class="text">贡献数据</p>
				</a>
			</div>
			<div class="home_detail">
				<a class="skip" href="tools">
					<img alt="" th:src="@{/images/tools-icon3.png}">
					<p class="text">工具与服务</p>
				</a>
			</div>
		</div>

		<!-- 轮播图 -->
		<div class="layui-carousel" id="test10">
			<div carousel-item="">
				<div class="home_banner">
					<img th:src="@{/images/databrowser.png}">
				</div>
				<div class="home_banner">
					<img th:src="@{/images/hawaii.jpg}">
				</div>
				<div class="home_banner">
					<img th:src="@{/images/maptool.jpg}">
				</div>
			</div>
		</div>

		<!-- 内容展示 -->
		<div class="home_show">
			<div class="home_frame">
				<h3 class="home_title">最新上传</h3>
				<ul id="home_list">
					<li th:each="sourceList:${sourceLists}"><span class="home_text">[[${sourceList.shipOrPlatformName}]]在挑战者深渊获取的数据</span> <a class="look"
						th:href="@{detail(expedition=${sourceList.expeditions})}" target="_blank">查看数据</a>
					</li>
				</ul>
				<a class="home_more" href="javascript:;">阅读更多 >> </a>
			</div>
			<div class="home_frame">
				<h3 class="home_title">最新引用</h3>
				<ul id="home_list" >
					<li th:each="relatedList:${relatedLists}"><span class="home_text">[[${relatedList.title}]]</span>
					</li>
				</ul>
				<a class="home_more" href="javascript:;">阅读更多 >> </a>
			</div>
			<div class="home_frame">
				<h3 class="home_title">我们使数据管理变得简单</h3>
				<ul id="home_list">
					<li><span class="home_text">深海科考数据管理平台作为海洋研究前瞻性数据应用系统，需要为海洋地球科学数据提供数据管理工具和服务，通过不断积累，并对外公开，
					公众免费获取在全球海洋和毗邻大陆边缘获得的海洋地球科学研究数据。我们使数据管理变得简单!</span></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	<!-- <div th:replace="footer::panelBar"></div> -->
	 <div class="footer cl">
      <p>版权所有©2018～ <span id="timeYear"></span> 中国科学院深海科学与工程研究所</p>
      <p>技术支持:船海科技有限公司</p>
    </div>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script>
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use(['element','carousel', 'form' ], function() {
		var element = layui.element;
		var $ = layui.jquery;
		var carousel = layui.carousel;
		var form = layui.form;
		carousel.render({
			elem : '#test10',
			width : '100%',
			height : '360px',
			interval : 3000,
			arrow : 'always',
			indicator : 'outside'
		});
		
		var mydate = new Date(); 
		var tm=mydate.getFullYear(); 	
		$("#timeYear").text(tm);
	});
</script>

</html>