<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<title>数据检索</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/js/Cesium-1.53/Build/Cesium/Widgets/widgets.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/iconfont.css}">
<link rel="stylesheet" th:href="@{/css/project.css}">
<style type="text/css">

</style>
</head>
<body>
	<!-- 头部 -->
	<!-- <div th:replace="header"></div> -->
	<div class="home_header">
        <div class="text_box">
        	<a class="headline fl" href="/index">
            <p>深海科考数据管理平台</p>
            <p>Deep-sea Data System</p>
        	</a>
        	<div class="logo fl">
            <a class="logo_href" href="/index"><img alt="" th:src="@{/images/sy-logo.png}"></a>	
        	</div>
        </div>
        <ul sec:authorize="isAuthenticated()" class="userLogon">
        	<li class="infoLi">
        		<a href="javascript:;">
        			<i class="iconfont icon-yonghu" style="color: #1890ff"></i>
        			<p class="infoTxt" sec:authentication="name"></p>
        		</a>
        	</li>
        	<!-- <li class="infoLi">
        		<a href="javascript:;">
        			<i class="iconfont icon-xiaoxi" style="color: #FF5722"></i>
        			<p class="infoTxt">
        				<span>消息</span>
        				<span class="comNum infoNum" style="background:#FF5722">2</span>
        			</p>
        		</a>
        	</li>
        	<li class="infoLi">
        		<a href="javascript:;">
        			<i class="iconfont icon-renwu" style="color: #009688"></i>
        			<p class="infoTxt">
	        			<span>任务</span>
	        			<span class="comNum taskNum" style="background:#009688">3</span>
        			</p>
        		</a>
        	</li> -->
        	<li class="infoLi" style="width: 60px;">
        		<a href="javascript:;">
        			<form th:action="@{/logout}" method="post">
        				<i class="iconfont icon-zhuxiao" style="color: #FF0303"></i>
								<input class="infoTxt logout" type="submit" value="注销" />
							</form>
        		</a>
        	</li>
        </ul>
    </div>

    <!-- 导航栏 -->
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item layui-this"><a th:href="@{/index}">首页</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">数据上传</a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a th:href="@{/templateParse}">模板解析</a></dd>
            <dd><a th:href="@{/dataUpload}">上传数据(批量)</a></dd>
            <dd><a th:href="@{/dataUploadList}">上传数据(表单)</a></dd>
            <!-- <dd><a th:href="@{/query/queryMainTableData?id=24&dataType=FluidFlow}">查看主表数据</a></dd> -->
          </dl>
        </li>
        <!-- <li class="layui-nav-item"><a href="search">数据检索</a></li> -->
        <li class="layui-nav-item"><a th:href="@{/replaceSearch}">数据检索</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">统计分析</a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a th:href="@{/shipStatistic}">科考航次</a></dd>
            <dd><a th:href="@{/platStatistic}">科考船舶</a></dd>
            <dd><a th:href="@{/submersibleStatistic}">潜器平台</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">科考作业</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a  th:href="@{/job/shipList}">航次管理</a></dd>
                <dd><a th:href="@{/job/messageList}">消息管理</a></dd>
                <dd><a th:href="@{/job/postList}">岗位管理</a></dd>
                <dd class="jobMenu">
                	<a href="#" class="job">站位作业<i class="iconfont icon-right"></i></a>
                	<dl class="layui-nav-child jobList-child">
                		<dd class="menuTree">
                			<a th:href="@{/job/ctdList}">取水</a>
                			<!-- <dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">CTD</a></dd>
		                		<dd><a href="javascript:;">泵</a></dd>
		                	</dl> -->
                		</dd>
                		<dd class="menuTree">
                			<a th:href="@{/job/precipitateList}" >取沉积物</a>
                			<!-- <dl class="layui-nav-child listTree">
		                		<dd><a th:href="@{/job/precipitateList?type=columnar}">柱状</a></dd>
		                		<dd><a th:href="@{/job/precipitateList?type=trunk}">箱式</a></dd>
		                		<dd><a th:href="@{/job/precipitateList?type=multitube}">多管</a></dd>
		                	</dl> -->
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">取岩石<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">钻机</a></dd>
		                	</dl>
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">精细取样<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">KOV</a></dd>
		                		<dd><a href="javascript:;">USBL/SBL/LBL</a></dd>
		                	</dl>
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">探测类<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">热流</a></dd>
		                	</dl>
                		</dd>
                	</dl>
                </dd>
                <dd class="jobMenu">
                	<a href="#" class="job">走航作业<i class="iconfont icon-right"></i></a>
                	<dl class="layui-nav-child jobList-child">
                		<dd class="menuTree">
                			<a href="javascript:;">地球物理<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">MB</a></dd>
		                		<dd><a th:href="@{/job/subbottomList}">SB</a></dd>
		                		<dd><a href="javascript:;">GR</a></dd>
		                		<dd><a href="javascript:;">MAG</a></dd>
		                		<dd><a href="javascript:;">SS</a></dd>
		                		<dd><a th:href="@{/job/seismicList}">SEIS</a></dd>
		                	</dl>
                		</dd>
                		<dd class="menuTree">
                			<a href="javascript:;">物理海洋<i class="iconfont icon-right"></i></a>
                			<dl class="layui-nav-child listTree">
		                		<dd><a href="javascript:;">SBE21</a></dd>
		                		<dd><a href="javascript:;">ADCP</a></dd>
		                		<dd><a href="javascript:;">海气通量</a></dd>
		                		<dd><a href="javascript:;">气象站</a></dd>
		                	</dl>
                		</dd>
                	</dl>
                </dd>
                <dd><a th:href="@{/job/myTaskList}">我的任务</a></dd>
                <dd><a th:href="@{/job/deviceList}">设备管理</a></dd>
                <dd><a th:href="@{/job/meetingList}">会议管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">字典管理</a>
            <dl class="layui-nav-child">
               <!-- 二级菜单 -->
               <dd><a th:href="@{/dataTypeList}">数据类型</a></dd>
               <dd><a th:href="@{/deviceTypeList}">设备类型</a></dd>
               <dd><a th:href="@{/platTypeList}">平台类型</a></dd>
               <dd><a th:href="@{/shipPlatList}">科考船舶</a></dd>
               <dd><a th:href="@{/submersiblePlatList}">潜器平台</a></dd>
               <dd><a th:href="@{/suberMessageList}">潜器潜次</a></dd>
            </dl>
        </li>
    </ul>

	<!-- 主题部分 -->
	<div class="tools_main cl">
		<!-- Cesium地图显示 -->
		<div class="grid">
			<div id="cesiumContainer" class="fullSize"></div>
			
			<!-- 左下角坐标 -->
			<div id="latlng_show">
		     <p class="coordinate">经度：<span id="longitude_show"></span></p>
		     <p class="coordinate">纬度：<span id="latitude_show"></span></p>
		     <p class="coordinate">水深：<span id="elevation_show"></span> 米</p>
		     <p class="coordinate">视角高：<span id="altitude_show"></span> km</p>
			</div>
			
			<div class="draw">
				<i class="iconfont icon-pingyi" title="平移" id="move"></i>
				<i class="iconfont icon-mian" title="面" id="region"></i>
				<i class="iconfont icon-icon-xian" title="线" id="line"></i>
			</div>
			
			<!-- 右下角下载 -->
			<div class="grid_load">
				<i class="layui-icon layui-icon-right" id="drag"></i>
				
				<form class="layui-form" action="" id="data_format">
					<div class="layui-form-item">
						<div class="layui-inline">
				      <label class="layui-form-label" id="choose_format">选择数据格式: </label>
				      <div class="layui-input-inline" id="format_drop">
				        <select name="modules" lay-verify="required" lay-search="">
				          <option value="1">netcdf</option>
				          <option value="2">coards</option>
				          <option value="3">esriascii</option>
				          <option value="4">geotiff</option>
				        </select>
				      </div>
			      </div>
					</div>
				</form>
				
				<div class="coordinates">
					<p class="angle">
						<span>左上</span>
						<span>右上</span>
					</p>
					<p class="angle down">
						<span>左下</span>
						<span>右下</span>
					</p>
				</div>
				
				<div class="download">
					<button class="layui-btn layui-btn-normal" id="download_btn">下载数据</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	<div class="footer cl">
    <p>版权所有©2018～ <span id="timeYear"></span> 中国科学院深海科学与工程研究所</p>
    <p>技术支持:船海科技有限公司</p>
  </div>

</body>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/Cesium-1.53/Build/CesiumUnminified/Cesium.js}"></script>
<script type="text/javascript" th:src="@{/myJS/replaceSearch.js}"></script>
<script type="text/javascript">	
	layui.use(['element','form','layer'], function() {
		var element = layui.element;
		var $ = layui.jquery;
		var form = layui.form;
		var layer = layui.layer;
		
		/* 初始化赋值 */
		var category = 0;
		var url = "";

		$("#inputName").val("");
		
		/* 底部获取时间 */
		var mydate = new Date(); 
		var tm=mydate.getFullYear(); 	
		$("#timeYear").text(tm);
		
		/* 地图下载 */
		$("#drag").click(function() {
			if(parseInt($(".grid_load").css("right"))<0){
				$(".grid_load").animate({
					right: "0"
				},300)
			}else{
				$(".grid_load").animate({
					right: "-200px"
				},300)
			}
			/* console.log(parseInt($(".grid_load").css('right'))); */
		})
	}) 
</script>

</html>